{% extends "base.html" %}
{% load static %}
{% block title %}
  Админ-панель
{% endblock %}
{% block content %}
  <h2>Админ-Панель</h2>
  {% include 'admin_panel/user_table.html' %}
  {% include 'admin_panel/contacts_table.html' %}
  {% include 'admin_panel/connections_table.html' %}
  {% include 'admin_panel/applications_table.html' %}
  {% include 'admin_panel/genres_table.html' %}
  {% include 'admin_panel/engines_table.html' %}
  {% include 'admin_panel/languages_table.html' %}
{% endblock %}
