{% extends "base.html" %}
{% load static %}
{% block title %}
  Мои заказы
{% endblock %}
{% block content %}
  <h2>Мои заказы</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Статус</th>
        <th>Задача</th>
        <th>Язык программирования</th>
        <th>Игровой движок</th>
        <th>Жанр</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      {% if orders %}
        {% for order in orders %}
          <tr data-id="{{ order.id }}">
            <td>{{ order.status }}</td>
            <td>
              <span class="editable-task">{{ order.task }}</span>
              <textarea class="form-control task-input d-none" 
                        rows="1" 
                        style="resize: none;
                               overflow-wrap: break-word;
                               width: 100%;">{{ order.task }}</textarea>
              <button class="btn btn-sm btn-primary save-task d-none">Сохранить</button>
            </td>
            <td>{{ order.language }}</td>
            <td>{{ order.engine }}</td>
            <td>{{ order.genre }}</td>
            <td>
              <button class="btn btn-danger btn-sm delete-btn" data-id="{{ order.id }}">Удалить</button>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="6" class="text-center">У вас пока нет заказов.</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      // Enabling editing for task
      document.querySelectorAll(".editable-task").forEach((span) => {
        span.addEventListener("click", (event) => {
          const taskRow = event.target.closest("tr");
          const taskInput = taskRow.querySelector(".task-input");
          const saveButton = taskRow.querySelector(".save-task");

          // Show input field and hide span
          taskInput.classList.remove("d-none");
          taskInput.style.height = "auto";
          taskInput.style.height = `${taskInput.scrollHeight}px`;
          saveButton.classList.remove("d-none");
          
          event.target.classList.add("d-none");
        });
      });

      // Saving the task after edit
      document.querySelectorAll(".save-task").forEach((button) => {
        button.addEventListener("click", (event) => {
          const taskRow = event.target.closest("tr");
          const taskId = taskRow.dataset.id;
          const newTask = taskRow.querySelector(".task-input").value;

          if (newTask) {
            const formData = new FormData();
            formData.append("task", newTask);
            
            const patchUrlTemplate = "{% url 'api:patch_application' 0 %}";
            const patchUrl = patchUrlTemplate.replace("0", taskId);

            fetch(patchUrl, {
              method: "PATCH",
              body: formData,
            })
              .then((response) => response.json())
              .then((data) => {
                if (data.status === "success") {
                  location.reload();
                } else {
                  alert(data.message);
                }
              });
          }
        });
      });
    
      // Task delete
      document.querySelectorAll(".delete-btn").forEach((button) => {
        button.addEventListener("click", (event) => {
          const taskId = event.target.dataset.id;
          const deleteUrlTemplate = "{% url 'api:delete_application' 0 %}";
          const deleteUrl = deleteUrlTemplate.replace("0", taskId);

          if (confirm("Вы уверены, что хотите удалить эту задачу?")) {
            fetch(deleteUrl, {
              method: "DELETE"
            })
              .then((response) => response.json())
              .then((data) => {
                if (data.status === "success") {
                  alert("Задача успешно удалена");
                  location.reload();
                } else {
                  alert(data.message);
                }
              });
          }
        });
      });
    });
  </script>
{% endblock %}